/*COLOR CODES FROM LOGO
Blue #53c3f1
Pink #ed828a
Lilac #bb7cb3
Yellow #fee101
Jellyfish pink #f29ec2
*/

#line {
  background: #53c3f1 linear-gradient(to bottom, #53c3f1, white);
  width: 100%;
  height: 2.5em;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: right;
}
.logo img {
  padding-top: 3em;
}

.navigation {
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.contentName {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5em;
}

.contentName img {
  height: 38px;
}

/*Colorful boxes for contents*/
.contentYellow {
  background-color: #fee101;
  padding-top: 2em;
  padding-bottom: 3em;
  margin-bottom: 3em;
}
.contentBlue {
  background-color: #53c3f1;
  padding-top: 2em;
  padding-bottom: 3em;
  margin-bottom: 3em;
}
.contentLilac {
  background-color: #bb7cb3;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 3em;
}
.contentPink {
  background-color: #ed828a;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 3em;
  justify-content: center;
}

/*Different div for content's text*/
.contentText {
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: left;
  color: rgb(41, 40, 40);
  font-family: "Dosis", sans-serif;
  font-weight: 580;
}
.contentImage {
  display: flex;
  justify-content: center;
}

.contentImage img {
  width: 50%;
  border: 10px solid white;
  border-radius: 15px;
}
.contentTwitter {
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: center;
  color: rgb(41, 40, 40);
  font-family: "Dosis", sans-serif;
  font-weight: 580;
}

.contentCalendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin: 2em;
  border-radius: 15px;
}

.contentCalendar p {
  color: rgb(41, 40, 40);
  font-family: "Dosis", sans-serif;
  margin: 2em;
}

.contentMember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin: 2em;
  border-radius: 15px;
  text-align: center;
  padding-bottom: 1em;
}

.contentMember img {
  width: 20em;
  margin: 1em;
  border-radius: 15px;
  align-self: center;
}
.contentTextPink {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.contentTextPink img {
  height: 400px;
}

.contentTextInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-weight: 450;
}

/*TEXT STYLES*/
h1,
a {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  margin: 5px;
  text-decoration-line: none;
}
.navigation a:hover {
  background-color: #f29ec2;
  border-radius: 15px;
  color: white;
  width: 155px;
}
.navigation h1:hover {
  background-color: #f29ec2;
  border-radius: 15px;
  color: white;
  width: 140px;
}

h2 {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  color: white;
  padding: 0.5em;
  text-align: center;
}

.textPink {
  color: #ed828a;
}
.textYellow {
  color: #fee101;
}
.textLilac {
  color: #bb7cb3;
}
.textBlue {
  color: #53c3f1;
}

.button1 {
  font-family: "Dosis", sans-serif;
  font-weight: 450;
  color: white;
  background-color: #53c3f1;
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  border: none;
  align-self: center;
}

.button2 {
  font-family: "Dosis", sans-serif;
  font-weight: 450;
  color: white;
  background-color: #bb7cb3;
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  border: none;
  align-self: center;
}
.button3 {
  font-family: "Dosis", sans-serif;
  font-weight: 450;
  color: white;
  background-color: #ed828a;
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  border: none;
  align-self: center;
}
button a {
  color: white;
}

/*Small floating Jellyfish*/
.kurage1 {
  display: flex;
  justify-content: right;
  margin-right: 3em;
}
.kurage2 {
  display: flex;
  justify-content: left;
  margin-right: 3em;
}
.kurage3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 3em;
}
.kurage img {
  transform: rotate(20deg);
}

/*Creator's note*/
.note {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2em;
  font-family: "Dosis", sans-serif;
  font-weight: lighter;
  font-size: 18px;
  color: rgb(97, 96, 96);
}
